<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henryproject_ffbf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddStreetFoodActivity"></activity>
        <activity android:name=".UserViewUsers" />
        <activity android:name=".UserProfile" />
        <activity android:name=".UserStreetFood" />
        <activity android:name=".AddRestaurant" />
        <activity android:name=".RestaurantDetail" />
        <activity android:name=".AdminViewUsers" />
        <activity android:name=".AdminStreet" />
        <activity android:name=".AdminRestaurant" />
        <activity android:name=".UserActivity" />
        <activity android:name=".CriticActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AdminProfile" />
        <activity android:name=".RegisteUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>